body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cards-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  justify-items: center;
  margin: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
